/*
TAG DO HTML = div, p, input, span, ....
CLASS
ID
*/

/*
SELETOR {
    PROPRIEDADE: VALOR DA PROPRIEDADE;
}
*/
/*
p {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: 2px;
    font-family: Arial, sans-serif;
    color:red;
    font: italic bold 12px Arial;
}*/

/*.borda{
    border-width: 1px;
    border-style: solid;
    border-color: black;

    /*border: 1px solid black;
}*/

/*.margin{
    /* top-right-bottom-left
    
    margin-top:2px;
    margin-right: 1px;
    margin-bottom:2px;
    margin-left:1px;
    
    margin: 3px 1px 2px 4px;
    margin: 2px 1px;
}*/

/*.item-menu li{
    border: 1px solid red;
}*/

/*.nomeDaClass{

}*/
/*
    #nomeDoId{
    }
    */

/* font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.container-header{
    background-color: #FF5F8F;
    padding: 21px;
    height: 91px;
    box-sizing: border-box;
}
.container-header h1{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
nav {
    background-color: #525252;
    height: 38px;
    padding-top: 8px;
    margin-top: 2px;
    padding-left: 40px;
    padding-right: 40px;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 70px;
}

nav ul li.item-menu-pesquisa{
    float: right;
    margin-right: 0;
}

nav ul li.item-menu-pesquisa input{
    border: none;
    border-radius: 3px;
    padding: 3px 0;
}
nav ul li.item-menu-pesquisa button{
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

/* CONTEÚDO PRINCIPAL */
article{
    margin: 50px 0;
    padding: 0 50px;
}
article h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 300;
    margin-bottom: 40px;
}
article p{
    font-weight: 300;
    line-height: 1.5;
}

section h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 13px;
}
.nativeNoticias{
    width: 387px;
    height: 160px;
}
.nativeNoticias img{
    float: left;
    margin-right: 8px;
}
.nativeNoticias h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
.nativeNoticias span{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
}
.nativeNoticias p{
    font-size: 16px;
    line-height: 22px;
    width: 191px;
    height: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width:600px){
    .nativeNoticias p{
        font-size: 12px;
        line-height: 22px;
        width: 191px;
        height: 65px;
        color: red;
    }
}
@media screen and (min-width:768px){
    
}
@media screen and (min-width: 600px) and (max-width: 900px){

}