body,p,main,ul,li,img,figure,div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #2196f3;
    padding: 20px;
    color: #fff;
}
main{
    background-color: #e8e8e8;
    
}
.vitrineProdutos{
    max-width: 1800px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
}
.vitrineProdutos .vitrineProdutos__vitrine{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex-basis: 70%;
}
.vitrineProdutos>ul{
    flex-basis: 70%;
}
.vitrineProdutos .vitrineProdutos__vitrine__produto{
    
    margin-bottom: 60px;
    text-align: center;
}
.vitrineProdutos> li{
    flex-basis: 30%;
}
.carrosselDestaque{
    background-color: #fff;
}
.carrosselDestaque img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.vitrineProdutos .vitrineProdutos__vitrine__produto img{}
.vitrineProdutos .vitrineProdutos__vitrine__produto h2{}
.vitrineProdutos .vitrineProdutos__vitrine__produto p{}
.vitrineProdutos .vitrineProdutos__vitrine__produto button{}

.divs div{
    background-color: red;
    padding: 20px;
    border: solid 2px #fff;
    color:#fff

}

.carrinho{    
    border: solid 1px #ccc;
    flex-basis: 30%;
    text-align: center;
}


.carrinho .vitrineProdutos__vitrine{
  
}
.carrinho .vitrineProdutos__vitrine li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
}
.carrinho .vitrineProdutos__vitrine img{
    max-width: 100px;
}
.carrinho .vitrineProdutos__vitrine button{
    display: none;
}