/*CASCATA*/
h1{
    color: red;
}
h1{
    color: blue;
}
p{
    color: pink;
}
h1{
    color: black;
}

/*ESPECIFICIDADE*/
h1{
    color: red;
}
.heading-xg{
    color: blue;
}
p{
    color: pink;
}
h1{
    color: black;
}