/*
title => red
p => pink
subtitle => blue
*/

/*
h1 - h6 | p => color, font-size, font-weight
margin
padding
shadow
border-radius

*/

:root{
    /*2 hífens + nome da variavel: valor*/
    --color-title-xg: red;
    --width-button: 48px;
    --border-light: 1px solid #fcfcfc;
}



h1{
    color: var(--title-xg);
}
.title-xg{
    color: var(--color-title-xg);
}
button{
    width: var(--width-button);
    border: var(--border-light);
}